<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
  <title>Product List</title>
</head>

<body>
  <div class="page-container">
    <header>
      <div class="inner-header">
        <h1>Product List</h1>
        <div class="list-page button-wrap">
          <button class="btn1">ADD</button>
          <button class="btn2">MASS DELETE</button>
        </div>
      </div>
    </header>

    <main>
      <div class="grid-container">

        <!-- Tikai piemēram -->
        <div class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus.</div>
        <div class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus.</div>
        <div class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus.</div>
        <div class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus.</div>
        <div class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus.</div>
        <div class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus.</div>
        <div class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus.</div>
        <div class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus.</div>
        <!-- Tikai piemēram -->

      </div>
    </main>

    <footer>
      <p>Scandiweb Test assignment</p>
    </footer>

  </div> <!-- /.page-container -->
</body>

<script src="../../js/validation.js"></script>

</html>